@font-face {
  font-family: SeoulHangang;
  src: url(/font/SeoulHangangM.eot);
  src: url(/font/SeoulHangangM.eot?#iefix) format(embedded-opentype),
      url(font/SeoulHangangM.woff2) format(woff2),
      url(font/SeoulHangangM.woff) format(woff),
      url(font/SeoulHangangM.ttf) format(truetype),
      url(font/SeoulHangangM.svg#SeoulHangangM) format(svg);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
nav{
  background: #FFFFFF;
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  
 
}
#logo{
  width: 80px;
  height: 80px;
  position: relative;
  
  vertical-align: middle;

  
}
.nav-link{
    color: blue!important;
   
}
.logoDiv{
  vertical-align: middle;

}
#textHeader{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  align-items: center;
  color: #035AA6;
  position: relative;
  top: 10px;
}
.row{
  margin-left: 5%;
  margin-bottom: 8%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  

}
.categories{
  
  margin: 70px 0;
 align-items: center;
 padding: 25px;

}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  transition: transform 0.5s;
  
  
}
.col-4 img{
  width: 25%;

}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
}
.col-4:hover{
  transform: translateY(-5px);
}
.baju{
  border-style: groove;
  box-shadow: black;
  border-color: black;
}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
  text-align: center;
  align-items: center;
}
select{
  border: 1px solid #2d4ee0;
  padding: 5px;
  margin: 20px;
}
select:focus{
  outline: none;
}
#pilih{
  align-items: center;
  
}
.col-2{
  flex-basis: 50%;
  min-width: 400px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;
  
}
.single-product .col-2{
  padding: 1px;
}
footer{
  background: rgb(0, 0, 116);
}
.footer-info{
  color: white;
}